<div class="container-fluid mx-auto" [ngClass]="dark ? 'dark' : ''">
    <div class="flex flex-wrap lg:h-screen">
      <div class="bg-stone-200 dark:bg-black dark:text-white grid w-full lg:w-4/12 lg:relative">
        <div class="p-10 text-center lg:text-left lg:fixed lg:top-1/2 lg:left-20">
          <button (click)="changeMode()" class="p-4" [ngClass]="dark ? 'sun text-white' : 'moon text-white'"></button>
          <h1 class="text-3xl">Eka Bachrudin</h1>
          <p>Fullstack Developer</p>
        </div>
      </div>

      <div class="relative w-full p-10 lg:w-8/12 lg:p-28 space-y-10 dark:bg-gradient-to-b dark:from-stone-700 dark:to-stone-800 dark:text-white">
        <div>
          <h1 class="text-3xl">Eka Bachrudin</h1>
          <h1 class="text-2xl">Personal Web Page</h1>
        </div>

        <div>
          <p>Hi there! I am Eka Bachrudin, currently working as a Fullstack Developer at Prospero Solutions.</p>
          <p>If you're looking for my personal page on the internet, you've come to the right place.</p>
        </div>

        <div>
          <h1 class="text-1xl"><strong>Experience</strong></h1>
          <ul class="space-y-3 mt-4 lg:text-base text-sm">
            <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Frontend Development at <a href="#" class="hover:underline hover:text-stone-400">Mineral Alam Abadi</a></span> <em class="text-slate-400 dark:text-stone-400">(2020)</em></li>
            <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Java developer at <a href="#" class="hover:underline hover:text-stone-400">Digital Muda</a></span> <em class="text-slate-400 dark:text-stone-400">(2021)</em></li>
            <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Fullstack Developer at <a href="#" class="hover:underline hover:text-stone-400">Prospero Solutions</a></span> <em class="text-slate-400 dark:text-stone-400">(2022)</em></li>
          </ul>
        </div>

        <div>
          <h1 class="text-1xl"><strong>Software Development Stacks</strong></h1>
          <em>(... sorted by most <span class="strk">favorite</span> used)</em>
          <ul class="list-disc space-y-3 mt-4 lg:text-base text-sm ml-5">
            <li>Backend: Golang, Node, Ruby, Clojure, Java, Typescript, Php</li>
            <li>Frontend: Angular, Svelte, React</li>
            <li>Frameworks: Express (Node), Rails (Ruby), Hibernate (Java), Spring boot (Java), Laravel (Php)</li>
            <li>Database: Redis, PostgreSQL, MySQL, Oracle, SQL Server</li>
          </ul>
        </div>
      </div>
    </div>
</div>
