<div class="container-fluid mx-auto" [ngClass]="dark ? 'dark' : ''">
  <div class="flex flex-wrap lg:h-screen">
    <div class="bg-stone-200 dark:bg-black dark:text-white grid w-full lg:w-4/12 lg:relative">
      <div class="p-10 text-center lg:text-left lg:fixed lg:top-1/2 lg:left-20">
       <div class="flex justify-between mb-5 ">
        <button (click)="changeMode()" class="p-4" [ngClass]="dark ? 'sun text-white' : 'moon text-white'"></button>
        <div class="lang-cont flex border border-stone-700 dark:border-white items-center cursor-pointer" #toggleButton (click)="openToggleLang()"> <img class="mr-1 w-5" src="{{dark ? '/assets/language-white.svg' : '/assets/language.svg'}}" alt="icon"> {{'lang' | translate}} </div>
        <div class="lang-select bg-stone-200 border dark:bg-black border-stone-700 dark:border-white transform-gputransform-gpu" #menu [ngClass]="{'scale-y-100': isLangToggleActive, 'scale-y-0': !isLangToggleActive}">
          <div class="inner px-2 py-1 border-stone-700 dark:border-white flex cursor-pointer" (click)="changeLang('id')">
            <img class="mr-1 w-5" src="{{dark ? '/assets/globe-white.svg' : '/assets/globe.svg'}}"> Indonesia
          </div>
          <div class="inner px-2 py-1 border-stone-700 dark:border-white flex cursor-pointer" (click)="changeLang('en')">
            <img class="mr-1 w-5" src="{{dark ? '/assets/globe-white.svg' : '/assets/globe.svg'}}"> English
          </div>
        </div>
       </div>
        <h1 class="text-3xl">Eka Bachrudin</h1>
        <p>Front-End Web Developer</p>
      </div>
    </div>

    <div class="relative w-full p-10 lg:w-8/12 lg:p-28 space-y-10 dark:bg-gradient-to-b dark:from-stone-700 dark:to-stone-800 dark:text-white h-screen">
      <div>
        <h1 class="text-3xl">Eka Bachrudin</h1>
        <h1 class="text-2xl">Personal Web Page</h1>
      </div>

      <div>
        <p>{{'myDesc' | translate}}</p>
        <p>{{'myDesc2' | translate}}</p>
      </div>

      <div>
        <h1 class="text-1xl"><strong>{{'exp' | translate}}</strong></h1>
        <ul class="space-y-3 mt-4 lg:text-base text-sm">
          <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Front-end Developer at <a href="#" class="hover:underline hover:text-stone-400">Salt Indonesia</a></span> <em class="text-slate-400 dark:text-stone-400">(2023-2024)</em></li>
          <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Front-end Developer at <a href="#" class="hover:underline hover:text-stone-400">Prospero Solutions</a></span> <em class="text-slate-400 dark:text-stone-400">(2022-2023)</em></li>
          <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Front-end Developer at <a href="#" class="hover:underline hover:text-stone-400">Guci (Freelance)</a></span> <em class="text-slate-400 dark:text-stone-400">(2022)</em></li>
          <li class="border-b-2 border-slate-200 dark:border-stone-500 flex justify-between"><span>Fullstack Developer at <a href="#" class="hover:underline hover:text-stone-400">Mineral Alam Abadi</a></span> <em class="text-slate-400 dark:text-stone-400">(2021)</em></li>
        </ul>
      </div>

      <div>
        <h1 class="text-1xl"><strong>Software Development Stacks</strong></h1>
        <em>(... {{'sort' | translate}} <span class="strk">favorite</span> {{'used' | translate}})</em>
        <ul class="list-disc space-y-3 mt-4 lg:text-base text-sm ml-5">
          <li>Frontend: Angular, Svelte, React</li>
          <li>Backend: Laravel (php)</li>
          <li>Database: MySQL</li>
        </ul>
      </div>
    </div>
  </div>
</div>
